/* li{
    display: flex;
    color: blue;
    text-align: center;
} */

nav > ul > li{
    /* float:left; */
    padding:10px;
    background-color: white;
    display: inline;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
}

body{
    /* background-image: url("src:tech1.jpg"); */
    background-image:url("https://media.gettyimages.com/photos/close-view-of-wooden-plank-table-picture-id175166558?s=2048x2048");
}

#picha{
    float: left;
    padding: 30px;
}

#skills{
    float:right:
    
}

#me{
    float:right;
    width:20px;
}

#style{
    margin-left: 50%;
}
